.wrapper{
	height: 100vh;
	background: url("./assets/home.png") center/cover no-repeat;

	padding : 1%;

	display: flex;
	justify-content: start;

	&__ancient-field{
		width: 40%;

	}
	&__level{
			width: 100%;
	}
	&__menu{
		width: 25%;
		height: 100%;

		border: 1px solid burlywood;
	}

}

.ancient-field{
	padding: 1%;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	border: 1px solid burlywood;

	&__ancient-card{
		margin: 10px;
		width: 30%;

		border-radius: 16px;

		transition: 0.5s;

		position: relative;
		top:0; left:0;


	}
	&__ancient-card:hover{
		z-index: 2;
		transform: scale(1.5);

	}
	&__ancient-card.active{
		border: 2px solid red;
	}
}

.level{
	padding: 1%;
			
	font-size: 40px;
	color: blanchedalmond;
			
	list-style-type: none;

	&__name{
		width: 100%;
		border-bottom: 1px solid rgba($color: burlywood, $alpha: 0.0);
	}
	&__name.active{
		border-bottom: 1px solid burlywood;
	}
}

*{
	box-sizing: border-box;
	margin: 0;
}