.wrapper{
	height: 100vh;
	background: url("./assets/home.png") center/cover no-repeat;

	padding : 1%;

	display: flex;
	justify-content: start;

	&__ancient-field{
		width: 39%;
	}
	&__menu{
		width: 22%;
		height: 100%;

		border: 1px solid burlywood;
	}
	&__level{
		width: 100%;
	}

	&__mysthic-card-field{
		flex-grow: 1;
	}

}

.mysthic-card-field{
	border: 1px solid burlywood;
}

.button{
	width: 100%;
	height: 40px;
}

.ancient-field{
	padding: 1%;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	border: 1px solid burlywood;

	&__ancient-card{
		margin: 10px;
		width: 30%;

		border-radius: 16px;

		transition: 0.5s;

		position: relative;
		top:0; left:0;
	}
	&__ancient-card:hover{
		z-index: 2;
		transform: scale(1.5);

	}
	&__ancient-card.active{
		border: 2px solid red;
	}
}

.level{
	padding: 1%;
			
	font-size: 30px;
	color: blanchedalmond;
			
	list-style-type: none;

	&__name{
		width: 100%;
		border-bottom: 1px solid rgba($color: burlywood, $alpha: 0.0);
	}
	&__name.active{
		border-bottom: 1px solid burlywood;
	}
}

.mysthic-card-field{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__card-list{
		width: 50%;

		font-size: 30px;
	}
	&__card-number{
		width: 100%;

		margin-bottom: 20px;

		display: flex;
		justify-content: space-between;
	}
	&__card{
		$diametr: 60px;

		width: $diametr;
		height: $diametr;
		border-radius: 50%;

		text-align: center;
		line-height: $diametr;
	}
	.card-green{
		background-color: green;
	}
	.card-yellow{
		background-color: yellow;
	}
	.card-blue{
		background-color: blue;
	}
}

*{
	box-sizing: border-box;
	margin: 0;
}