.wrapper {
  height: 100vh;
  background: url("./assets/home.png") center/cover no-repeat;
  padding: 1%;
  display: flex;
  justify-content: start;
}
.wrapper__ancient-field {
  width: 39%;
}
.wrapper__menu {
  width: 22%;
  height: 100%;
  border: 1px solid burlywood;
}
.wrapper__level {
  width: 100%;
}
.wrapper__mysthic-card-field {
  flex-grow: 1;
}

.mysthic-card-field {
  border: 1px solid burlywood;
}

.button {
  width: 100%;
  height: 40px;
}

.ancient-field {
  padding: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid burlywood;
}
.ancient-field__ancient-card {
  margin: 10px;
  width: 30%;
  border-radius: 16px;
  transition: 0.5s;
  position: relative;
  top: 0;
  left: 0;
}
.ancient-field__ancient-card:hover {
  z-index: 2;
  transform: scale(1.5);
}
.ancient-field__ancient-card.active {
  border: 2px solid red;
}

.level {
  padding: 1%;
  font-size: 30px;
  color: blanchedalmond;
  list-style-type: none;
}
.level__name {
  width: 100%;
  border-bottom: 1px solid rgba(222, 184, 135, 0);
}
.level__name.active {
  border-bottom: 1px solid burlywood;
}

.mysthic-card-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mysthic-card-field__card-list {
  width: 50%;
  font-size: 30px;
}
.mysthic-card-field__card-number {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.mysthic-card-field__card {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}
.mysthic-card-field .card-green {
  background-color: green;
}
.mysthic-card-field .card-yellow {
  background-color: yellow;
}
.mysthic-card-field .card-blue {
  background-color: blue;
}

* {
  box-sizing: border-box;
  margin: 0;
}